body {
    background-color: #313e4f;
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
}

h1 {
    margin-bottom: 0;
}
h2 {
    margin-top: 0;
}
a {
    color: #ff788a;
    text-decoration: none;
}
ul {
    margin: 20px;
    padding: 0;
}
ul > li > a {
    margin: 0;
    padding: 0;
    color: #ff788a;
    text-decoration: none;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item div {
    align-items: center;
}